.service-box{
    padding: 10px 0px;
}
.service-detail > h5{
    font-size: 14px;
    padding-top: 15px;
    color: red;
}footer::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: -1;
}
.footer-title{
    color: #181818 ;
}
.footer-contain > ul > li{
    line-height: 35px;
}
.footer-contain > ul > li > a{
    text-decoration: none;
    font-size: 15px;
    color: #363636;
    transition: 0.5s ease;
}
.footer-contain > ul > li > a:hover{
    color: #DA472A;
    padding-left: 5px;
}
/* footer close */