<div class="">
    <div class="" style="display: flex;justify-content: center;align-items: center;height: 60vh;background-color: antiquewhite;"> 
        <form action="" class="p-3 w-sm-100 w-md-100 bg-secondary" #data>
            <div class="form-group">
                <label for="usename" class="text-white">User Name</label>
                <input type="text" id="usename" class="form-control" placeholder="Enter User Name" ngModel>
            </div>
            <div class="form-group py-2">
                <label for="usename" class="text-white">User Password</label>
                <input type="password" id="usename" class="form-control" placeholder="Enter User Password" ngModel>
            </div>
            <button class="btn btn-secondary border-1 border-white w-100 mt-2" type="submit">Login</button>
        </form>
    </div>
</div>