  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h4 fw-bold" id="exampleModalLabel">Order Conform</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="product-box card p-2">
              <p class=""></p>
            </div>
            <form action="">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" value="fname" placeholder="Enter First Name" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" value="lname" placeholder="Enter Last Name" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="cont">Contact</label>
                    <input type="text" value="cont" placeholder="Enter Contact" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">E-mail</label><br>
                    <input type="email"  placeholder="Enter E-mail" class="form-control">
                  </div>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Save changes</button>
        </div>
      </div>
    </div>
  </div>