  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h4 fw-bold text-danger" id="exampleModalLabel"><i class="fa-solid fa-truck-fast" style="font-size: 20px;"></i> Order Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <form action="">
              <h6 class="fw-bold"><i class="fa-solid fa-user"></i> &nbsp;Personal Detsils</h6><hr>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" value="" placeholder="Enter First Name" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" value="" placeholder="Enter Last Name" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" value="" placeholder="Enter Contact" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="email"  placeholder="Enter E-mail" class="form-control">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <!-- <span class="fw-bold text-success">Selected Product *</span> -->
                    <input type="text" name="" [value]="bookOrder" id="" class="form-control text-white bg-success">
                  </div>
                </div>
                <br><br>
              </div>

              <h6 class="fw-bold pt-2 text-success2"><i class="fa-solid fa-location-dot"></i> &nbsp;Delivery Address</h6>
              <hr />
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <input type="email"  placeholder="Enter Complete Address " class="form-control">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input type="email"  placeholder="Apartment, Suite, Landmark, Etc" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input type="text" placeholder="City" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input type="email"  placeholder="State" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input type="text" placeholder="Area Pin" class="form-control">
                  </div>
                </div>
                

              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger"><i class="fa-solid fa-truck-fast"></i> &nbsp;Book Order</button>
        </div>
      </div>
    </div>
  </div>