  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="form-group">
                  <div class="row">
                    <h5>Personal Information</h5>
                    <div class="col-12">
                      <label for="F_ame">Name</label>
                      <input type="text" placeholder="Enter your name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="F_ame">Email</label>
                      <input type="text" placeholder="Enter your E-mail" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="F_ame">Contact</label>
                      <input type="text" placeholder="Enter your Contact" class="form-control">
                    </div>
                    <div class="col-6">
                      <label for="F_ame">Address</label>
                      <input type="text" placeholder="Enter your House number/Flat number/Bangla number" class="form-control">
                    </div>
                    <div class="col-6">
                      <label for="F_ame">Address </label>
                      <input type="text" placeholder="Enter your Area/Moholla/Colony" class="form-control">
                    </div>
                    <div class="col-4">
                      <label for="F_ame">Landmark</label>
                      <input type="text" placeholder="Enter your Landmark" class="form-control">
                    </div>
                    <div class="col-3">
                      <label for="F_ame">Pin</label>
                      <input type="text" placeholder="Enter your Pin" class="form-control">
                    </div>
                    <div class="col-5">
                      <label for="F_ame"></label>
                      <input type="text" placeholder="Enter your name" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group p-3 bg-light rounded-3">
                  <div class="row">
                    <h5>Order Summery</h5>
                    <div class="col-6">
                      <h5 class="fw-bold text-success2">Lorem ipsum dolor sit amet.</h5>
                    </div>
                    <div class="col-2">
                      <input type="text" placeholder="Enter your name" class="form-control">
                    </div>
                    <div class="col-4">
                      <h5 class="text-success2">{{15-5}}</h5>
                    </div>
                  </div>
                </div>
                <div class="form-group p-3 bg-light rounded-3">
                  <div class="row">
                    <h5>Payment summery</h5>
                    <div class="col-12">
                      
                    </div>
                  </div>
                </div>

                
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>