<!-- Customer comment OPEN -->
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-3">
                <div class="bg-light rounded-4 p-4 shadow-sm h-100">
                    <h5 class="text-secondary">Customer Comment</h5>
                    <h3 class="fw-bold text-success2">We Care About Our Customer Experience</h3>
                    <br>
                    <p class="lh-lg text-secondary">All our products are made in Fusion Food. Dehydrated indoors in a hand-made electric dehydrator, below 45 °C at a small manufacturing unit, specialized in the dehydration of organic fruits & Veg.</p>
                    <img src="../assets/images/p-pages_section/customer.JPG" alt="" class="img-fluid rounded-2">
                </div>
            </div>
            <div class="col-md-8 p-3 ">
                <div class="row">
                    <div class="col-12">
                        <div class="p-2 shadow-sm coming-soon text-center d-flex flex-column align-items-center justify-content-center rounded-2">
                            <span class="text-secondary">SUMMER</span>
                            <h1 class="fw-bold py-2 text-success2">VEGETABLE</h1>
                            <p class="text-secondary">Save up to 5% OFF</p>
                            <button class="btn btn-danger"><i class="fa-solid fa-meteor"></i> Comming Soon</button>
                        </div>
                        <div class="col-12">
                            <div class="p-4 shadow-sm mt-4 cashback text-center d-flex flex-column align-items-end justify-content-center rounded-2">
                                <h1 class="fw-bold py-2 text-danger w-50">Get 50 Cashback! Min Order of 500</h1>
                                <p class="text-secondary">Save up to 10% OFF</p>
                                <button class="btn btn-danger" style="border:2px dotted #ffffff"><i class="fa-solid fa-money-bill-wave"></i>&nbsp;&nbsp; FUSSION50 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Customer comment CLOSE -->