<app-page-header>
    <h1 class="text-success2">About us</h1>
    <!-- <p class="pera w-md-75 w-100">- our screening team indulges and follows robust methodology to procure best quality raw materials which helps us to produce best quality products.</p> -->
</app-page-header>


<!-- <div class="container">
    <div class="row py-2">
        <div class="col-md-4" >
            <img src="../../assets/images/HarvestDryer.png" class="rounded-4 shadow-md img-fluid" alt="">
        </div>
        <div class="col-md-8">
            <div class="p-4">
                <span>Why Choose us ?</span>
                <h4 class=" fw-bold text-success2 display-6 py-3">We impart superior and innovative solution to our customers</h4>
                <p class="lh-lg fs-5">Consistency and suppleness in all our solutions to facilitate clients</p>               
                <p class="lh-lg ">Our team is extremely talented, authorized & dexterous in their respective areas To rally round our clients attain best results, we have blended exceptional realm proficiency & industrial progressions.</p>
                <p>We are an inexpensive and customer oriented company that organizes to the varied business requirements of our clients</p>
            </div>
        </div>
    </div>
</div> -->

<section style="padding:3em 0px;background-image: linear-gradient(rgba(225,215,215,0.9),rgba(225,225,225,0.9)),url('../../assets/images/about-bg-partten.jpg');background-position: center;background-size: cover;background-attachment: fixed;">
<div class="container">
    <div class="row py-2">
        <div class="col-md-5">
            <div class="p-4 h-100 d-flex justify-content-center align-items-center" style="background-color: #ffffff87;">
                
                <img src="../../assets/images/logo.png" alt="" class="img-fluid rounded-5" style="height: 200px;">
            </div>
        </div>
        <div class="col-md-7">
            <div class="p-4 bg-light h-100 align-items-center rounded-4 shadow-sm">
                <!-- <span>About us ?</span> -->
                <!-- <h3 class="py-3 text-success2 display-4 fw-bold">NAMING OUR BRAND </h3>
                <p class="lh-lg">
                    <img src="../../assets/images/24.png" style="width: 60px;opacity: 0.8;"><br><br>
                    Fusion Food can be anything which he enjoy and cherish special moments with best over Cocktails<br>
                    “ Fusion Food “ can be your loved ones, parents, friends, the best thing you like to do like : listening retro hindi music . Trust us Fusion Food can be anything for any Bab but its the best thing you cherish wth Cocktails !!<br>
                    The company has its roots dating back to 2012 when it all began as a small procurement and reselling of grains and pulses. From day one, the company focused primarily on quality over quantity, and to this day,
                    <br><br>
                    With vast experience in the field of procurement and integrating state of art technology for the first time in India to manufacture roasted gram and blanched peanut without human touch. This leads to producing premium quality products
                </p> -->
                <!-- <h3 class="py-3 text-success2 display-4 fw-bold">About us</h3> -->
                <p class="lh-lg">
                    <!-- <img src="../../assets/images/24.png" style="width: 60px;opacity: 0.8;"><br><br> -->
                    There is nothing like a first impression but it takes more than mere introduction to start an enduring relationship. FUSION FOOD's is a  notched, revered and renowned company based in Anantapur, A.P with an enormous consideration on Quality and Quantity based Manufacturing, Exporting and, supplying of Dehydrated Fruits and Vegetables and various new Formulation of Food materials. We follow a philosophy of perfection in our offering which is an daily consuming foods at Fusion foods. The company is completely dedicated to let its clients enjoy the highest level of quality.
                    <br>
                </p>
                <p class="lh-lg fs-5">The customer can take a back seat once they are placing an order at Fusion Foods. We have a culture either we do it at the best possible level or we don’t do .Our philosophy of working has earned a huge repute which is not only confined to India but has reached abroad as well.</p>
                <br> 
            </div>
        </div>
    </div>
</div>
</section>

<!-- <div class="container" style="padding: 1.5em 0px;">
    <div class="row py-2">
        <div class="col-md-6">
            <div class="p-4 bg-light m-auto h-100 align-items-center rounded-4 shadow-sm">
                <span>How We Working ?</span>
                <h3 class="py-3 text-success2 display-4 fw-bold">INDIA’s FIRST Ancient process.</h3>
                <div class="row">
                    <div class="col-md-12">
                        <p class="">All the efforts of the company are always targeted towards complete satisfaction of the clients. In the pursuit of developing strong and long term business relationships, the company continuously endeavours to do what it could to help clients be relieved of all the worries of the setting up of their new food related formulation solutions. Everything in this world except experience keeps deteriorating and we people count on that. Most of the team member of Fusion Foods has got body of experience in the field of Dehydrated foods and food formulation products manufacturing.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4">
                <img src="../../assets/images/th.jpg" alt="" class="w-100 img-fluid rounded-5">
            </div>
        </div>
    </div>
</div> -->


<section class="how_we">
<div class="container">
    <div class="row py-2 py-4">
        <h4 class="text-center fw-bold text-success2 display-6 py-3">How is Fusion Food different?</h4>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-solid fa-box fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">Mode to Order</h4>
                <p>Our process is small batch and slow and hence we can cater to custom air-drying requirements of all consumers.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-solid fa-splotch fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">1X The Weight,<br> 10X The Flavor</h4>
                <p>Each gram of HUKI is equivalent to flavors of 10g of the fruit or veg. The moisture is removed, but the flavors get concentrated!</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-solid fa-earth-americas fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">Made In India</h4>
                <p>Right from our ingredients to our drying & packaging machinery, everything is proudly made in India.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-brands fa-hive fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">Versatile</h4>
                <p>Fusion Food can be ground to make flavourful and 100% natural powders. They can be had as is or even used as an infusion.</p>
            </div>
        </div>
    </div>
</div>
</section>

