<app-page-header>
    <h1 class="text-success2">About us</h1>
    <p class="pera">- The solutions to all our problems are just around us: in nature, in our "daadima 👵🏼 ke nuskhe" , in tribal techniques, in how animals survive in the wild and what not?</p>
</app-page-header>


<div class="container" style="padding: 1.5em 0px;">
    <div class="row py-2">
        <div class="col-md-6">
            <div class="p-4 bg-light m-auto h-100 align-items-center rounded-4 shadow-sm">
                <span>About us</span>
                <h3 class="py-3 text-success2 display-4 fw-bold">Ancient process, Modern Application.</h3>
                <div class="row">
                    <div class="col-md-12">
                        <p>At Fusion Food, we're playing with one such age-old food processing technique: air-drying. For centuries together, mankind has been harnessing the power of the sun to preserve foodstuff by drying so that it lasts longer and taste better. Our Instant Food is healthy & also good for the environment. Keep scrolling to see who Fusion Food is for, how it is made and what makes it a healthy snack.</p>
                    </div>
                    <div class="col-12 py-2">
                        <h5 class="text-danger fw-bold">- Why Fusion Food is Air Dried</h5>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-danger">Air-Dried</h6>
                        <ul>
                            <li>Low carbon footprint- more efficient process.</li>
                            <li>Smaller batch - Low MOQs.</li>
                            <li>Slow process helps develop unique flavours.</li>
                            <li>No added sugars or chemicals</li>
                            <li>Cheapest of the lot.</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-danger">Candied</h6>
                        <ul>
                            <li>50% Sugar.</li>
                            <li> Chemical preservatives added</li>
                            <li>More of a sugar candy taste profile than the fruit itself.</li>
                            <li>Difficult to infuse.</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-danger">Freeze Dried</h6>
                        <ul>
                            <li>High carbon footprint-longer energy intensive process.</li>
                            <li>Larger batch- higher MOQs</li>
                            <li>No custom options available</li>
                            <li> Most expensive of the lot.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-4">
                <img src="../../assets/images/p-pages_section/about-us.jpg" alt="" class="w-100 img-fluid rounded-5">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-2">
        <div class="col-md-4">
            <div class="bg-dark"></div>
        </div>
        <div class="col-md-8">
            <div class="p-4">
                <p class="lh-lg">In this place, children would be able to grow and develop integrally without losing contact with their souls; education would be given not for passing examinations or obtaining certificates and posts but to enrich existing faculties and bring forth new ones.</p>
                <p class="lh-lg">“ Louie “ can be your loved ones , parents , friends , the best thing you like to do like : listening retro hindi music . Trust us LOuie can be anything for any Bab but its the best thing you cherish wth Cocktails !!</p>
            </div>
        </div>
    </div>
</div>

<section class="how_we">
<div class="container">
    <div class="row py-2 py-4">
        <h4 class="text-center fw-bold text-success2 display-6 py-3">How is Fusion Food different?</h4>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-solid fa-box fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">Mode to Order</h4>
                <p>Our process is small batch and slow and hence we can cater to custom air-drying requirements of all consumers.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-solid fa-splotch fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">1X The Weight,<br> 10X The Flavor</h4>
                <p>Each gram of HUKI is equivalent to flavors of 10g of the fruit or veg. The moisture is removed, but the flavors get concentrated!</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-solid fa-earth-americas fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">Made In India</h4>
                <p>Right from our ingredients to our drying & packaging machinery, everything is proudly made in India.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="rounded-4 text-center p-3 shadow-sm whybox">
                <i class="fa-brands fa-hive fa-2x py-3"></i>
                <h4 class="text-success2 fw-bold">Versatile</h4>
                <p>Fusion Food can be ground to make flavourful and 100% natural powders. They can be had as is or even used as an infusion.</p>
            </div>
        </div>
    </div>
</div>
</section>

<div class="container">
    <div class="row py-2">
        <div class="col-md-7">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>


<div class="container">
    <div class="row py-2">
        <div class="col-md-5">
            <div class="p-4">
                <img src="../../assets/images/p-pages_section/dried-oranges-6820.jpg" alt="" class="w-100 h-auto img-fluid rounded-5">
            </div>
        </div>
        <div class="col-md-7">
            <div class="p-4 bg-light h-100 align-items-center rounded-4 shadow-sm">
                <span>Why Choose us ?</span>
                <h3 class="py-3 text-success2 display-4 fw-bold">Have you got a 'Different' way of doing it? </h3>
                <p class="lh-lg">
                    Have you got a different way of doing it? <br>
                    Right from our morning tea to our bedtime book, we're fussy about everything we do. <br>
                    Every human likes his or her way of doing things. Well, shouldn't that be the case with the kind of food products we buy too? <br>
                    At Fusion Food, we're striving towards breaking down food processing and making it accessible to the common man for him to continue being fussy. <br>
                    First step is dehydration. We can make Fusion Food to match your healthy snacking requirements, your speciality garnish requirements. We also custom-make Instant Food according to dietary and taste preferences. <br> 
                    We're open to all sorts of custom air-drying requirements and can offer our expertise to businesses looking to make a value-added product out of dehydration too.
                </p>
            </div>
        </div>
    </div>
</div>