<app-page-header>
    <h1 class="text-success2">Contact us</h1>
    <p class="pera">Support and provide the maximum value for our clients</p>
</app-page-header>
<section class="rounded-4" style="background-color: #e2f3ff;">
<div class="container rounded-4">
    <div class="row p-md-5 p-3">
        <div class="col-md-6 p-md-5 p-4  border rounded-2 bg-white shadow-sm">
            <div class="pb-3">
                <h3 class="c-gray fw-bold">Get in touch</h3>
                <span class="c-gray2">We will catch you as early as we receive the message</span>
            </div>
            <form action="" class="">
                <div class="row my-3">
                    <div class="col-6">
                        <input type="text" placeholder="Full Name*" value="" class="text-input">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Mobile Number" value="" class="text-input">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-6">
                        <input type="text" placeholder="Enter Address" value="" class="text-input">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Instanted In*" value="" class="text-input">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-6">
                        <input type="text" placeholder="Location*" value="" class="text-input">
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="WhatsApp Number" value="" class="text-input">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <textarea name="" id="" cols="30" rows="5" placeholder="Enter Comment" class="text-input"></textarea>
                    </div>
                    <div class="col-12 my-3">
                        <input type="checkbox" id="check"><span for="check">&nbsp; By clicking the “Submit” button you agree to our <a routerLink="term-condistion" class="text-decoration-none text-danger fw-bold ">Terms & Conditions</a></span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <button class="btn btn-danger"><i class="fa-solid fa-envelope"></i>&nbsp; Enquriry Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row py-4 py-md-0">
                <div class="col-12">
                    <div class="px-5 py-4 border rounded-4 shadow-sm" style="background-color:#eafffd">
                        <div class="d-flex">
                            <img src="../../assets/images/p-pages_section/phone-96.png" alt="" style="width: 50px; height: 50px;">
                            <div class="lh-sm p-1">
                                <h3 class=" fw-bold"> Contact</h3>
                                <p class="text-secondary">We Are Online: Monday – Friday, 9 am to 5 pm</p>
                            </div>
                        </div>
                        <ul class="lh-lg list-unstyled h5">
                            <li><a href="tel:9381830171" class="text-decoration-none fw-bold text-dark"><i class="fa-solid fa-phone px-2 pt-1"></i> +91-938-183-0171</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <div class="px-5 py-4 border rounded-4 shadow-sm" style="background-color:#ffecec">
                        <div class="d-flex">
                            <img src="../../assets/images/p-pages_section/letter-96.png" alt="" style="width: 60px; height: 60px;">
                            <div class="lh-sm p-1">
                                <h3 class="fw-bold ">Email</h3>
                                <p class="text-secondary">We will get back to in 24H during Business hours.</p>
                            </div>
                        </div>
                        <a href="mailto:info@fusionfoods.org.in" class="h5 text-decoration-none fw-bold text-success2"><i class="fa-solid fa-envelope px-2 pt-1"></i> info@fusionfoods.org.in</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="px-5 py-4 border rounded-4 shadow-sm" style="background-color:#fff8f2">
                        <div class="d-flex">
                            <img src="../../assets/images/p-pages_section/address-96.png" alt="" style="width: 60px; height: 60px;">
                            <div class="lh-sm p-1">
                                <h3 class=" fw-bold text-success2">Address</h3>
                                <p class="text-secondary">Assistance hours: Monday – Friday, 9am to 5pm</p>
                            </div>
                        </div>
                        <p class="h5 c-gray lh-lg fw-bold "><i class="fa-solid fa-location-dot px-2 pt-1"></i> VAFI 1-2-245 RK Nagar, Anantapur, Andhra Pradesh, Pin - 515001</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d7005.759704386643!2d77.058834!3d28.603381!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDM2JzEyLjIiTiA3N8KwMDMnMzEuOCJF!5e0!3m2!1sen!2sus!4v1687853999078!5m2!1sen!2sus" allowfullscreen aria-hidden="false" tabindex="0" height="300px" width="100%"></iframe>
</section>
