<app-page-header>
    <h1 class="text-success2">Natural Lemon Slices</h1>
    <p class="pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ullam.</p>
</app-page-header>

<!-- Product view open -->
<div class="container pt-2">
    <div class="row">
        <div class="col-md-4 order-2 order-md-1">
            <div class="p-2 bg-light">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <img src="../../../assets/images/p-pages_section/Dry_lamon/1.png" class="img-fluid" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        <img src="../../../assets/images/p-pages_section/Dry_lamon/2.png" class="img-fluid" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                        <img src="../../../assets/images/p-pages_section/Dry_lamon/3.png" class="img-fluid" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
                        <img src="../../../assets/images/p-pages_section/Dry_lamon/4.png" class="img-fluid" alt="">
                    </div>
                </div>
                <ul class="nav nav-pills mt-3 justify-content-evenly d-flex" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                    <img src="../../../assets/images/p-pages_section/Dry_lamon/1.png" style="height:38px;width:38px;">
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                    <img src="../../../assets/images/p-pages_section/Dry_lamon/2.png" style="height:38px;width:38px;">
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                    <img src="../../../assets/images/p-pages_section/Dry_lamon/3.png" style="height:38px;width:38px;">
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">
                    <img src="../../../assets/images/p-pages_section/Dry_lamon/4.png" style="height:38px;width:38px;">
                    </button>
                </li>
                </ul>
            </div>
            
        </div>
        <div class="col-md-5 order-1 order-md-2">
            <div class="p-3">
                <span class="bg-success bg-gradient text-white p-2 rounded-2">30% OFF</span>
                <h3 class="py-3">Natural Dried Lemon, Cooking Essential for Mandi and Arabic | Dishes Dried Lemon</h3>
                <div class="row">
                    <div class="col-5">
                        <div class="d-flex">
                            <p class="textdark"><span class="text-success2 fs-3 fw-bold"><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;60/-</span><del class="px-1">85/-</del><br><span class="text-success2">(8% Off)</span></p>
                        </div>
                    </div>
                    <div class="col-3 pt-2">
                    </div>
                    <div class="col-4">
                        <div class="d-flex text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <h6>6023 Customer Review</h6>
                    </div>
                </div>
                <b class="text-dark">Available offers :</b>
                <p class="lh-md"><i class="fa-solid fa-tags" style="color:#1a941a"></i>&nbsp; Partner Offer: Purchase now & get 2 surprise cashback coupon in Future. </p>
                <div class="d-flex justify-content-evenly">
                    <div class="d-flex align-item-center">
                        <button class="btn btn-secondary" (click)="add()"><i class="fa-solid fa-plus"></i></button>
                        <span class="p-2 mx-1">Buy Unit : <b>{{prod_count}}</b></span>
                        <button class="btn btn-secondary" (click)="remove()"><i class="fa-solid fa-minus"></i></button>
                    </div>
                    <button class="px-4 py-1 shadow btn btn-danger border-0 hover-box" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp; Buy Now</button>
                </div>
                <hr>
                <div class="p-2 mt-2 bg-light rounded-2 shadow-sm d-md-block d-none">
                    <h6>Available Packaging -</h6>
                    <div class="d-flex justify-content-between py-2">
                        <button class="btn btn-sm btn-danger"><i class="fa-solid fa-weight-hanging"></i>&nbsp; 25g</button>
                        <button class="btn btn-sm btn-danger disabled"><i class="fa-solid fa-weight-hanging"></i>&nbsp; 100g</button>
                        <button class="btn btn-sm btn-danger disabled"><i class="fa-solid fa-weight-hanging"></i>&nbsp; 250g</button>
                        <button class="btn btn-sm btn-danger disabled"><i class="fa-solid fa-weight-hanging"></i>&nbsp; 500g</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-3">
            <div class="p-2 bg-light rounded-2 shadow-sm d-none d-md-block">
                <img src="../../../assets/images/p-pages_section/category_b.jpg" class="img-fluid rounded-3 shadow-sm my-3" alt="">
                <h5 class="pt-2 "><i class="fa-solid fa-cart-shopping text-danger"></i>&nbsp; <span class="fw-bold text-danger">Trending products</span> </h5>
                <hr class="text-danger" size="2">
                <div class="card mb-2 hover-box shadow-sm rounded-2">
                    <div class="card-body bg-danger bg-gradient ">
                       <div class="d-flex align-item-center">
                            <img src="../../../assets/images/p-pages_section/Dry_Orange/product_view1.png" alt="" class="img-fluid rounded-2" style="width: 50px; height: 65px;">
                            <p class="px-2 text-justify text-white m-0" style="cursor: pointer;" routerLink="/dry_orange">Premium Orange Fruits (Dried Orange) | Dried Orange Slice</p>
                       </div>
                    </div>
                </div>
                <div class="card hover-box shadow-sm">
                    <div class="card-body bg-danger bg-gradient rounded-3">
                        <div class="d-flex align-item-center">
                            <img src="../../../assets/images/p-pages_section/Dry_Lime/shortview.jpg" alt="" class="img-fluid rounded-2" style="width: 50px; height: 60px;">
                            <p class="px-2 text-justify text-white m-0" style="cursor: pointer;" routerLink="/sweet_lime">Dry Natrual Sweet Lime Fruits | Dried Sweet Lime Slice</p>
                        </div>
                    </div>
                </div>
                <div class="p-2 d-flex justify-content-end my-1">
                    <span routerLink="/our_product" class="text-right text-danger">view products</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2 border">
        <div class="col-md-8">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link btn btn-danger active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                    <button class="nav-link btn btn-danger" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Additional Info</button>
                    <button class="nav-link btn btn-danger" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Care Instuctions</button>
                    <button class="nav-link btn btn-danger" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" >Review</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <p class="p-3">Dehydrated lemon slices can be easily rehydrated and used in an array of culinary preparations right from everyday beverages to meals and gourmet desserts. Add them to your tea, infused water or other herbal concoctions or use these beautiful slices as a garnish on your tea cakes, tarts or other desserts. Filled with Vitamin C, these lemon slices retain their tangy and citrusy taste. Add it to make some lemon coriander soup, to your stews, curries & more Suggestion: Our lemon slices will serve as the perfect garnish for your cocktails, especially for your Lemon Margarita!</p>
                </div>
                <div class="tab-pane fade py-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <table class="table border table-bordered table-view ">
                        <tbody>
                            <tr>
                                <th>Net Quantity</th>
                                <td>25 gram</td>
                                <th>Manufacturer</th>
                                <td>Fusion Food</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <td>10210293576</td>
                                <th>Country of Origin : </th>
                                <td>Inida</td>
                            </tr>
                            <tr>
                                <th>Ingredient Type</th>
                                <td>Dry Product</td>
                                <th>Date First Available</th>
                                <td>24 Jan 2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade py-2" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <p class="p-3">We have travelled across the country to handpick the finest quality products at the best possible rates. Fusion Food have been in the market for the past 5 years and we have tied up with all major offline retail majors. Our products are subjected to rigorous quality control procedures throughout the procurement and packaging processes.</p>
                </div>
                <div class="tab-pane fade py-2" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                    <div class="d-flex p-2 ">
                        <img src="https://picsum.photos/200" style="height: 70px;width: 70px;" class="rounded-2">
                        <i class="mx-3">"Perfect addition to lemon display" <br><span class="text-secondary">- Mamta Sharma </span><br><span class="text-secondary">2 days ago</span> </i>
                    </div>
                    <div class="d-flex p-2 ">
                        <img src="https://picsum.photos/200" style="height: 70px;width: 70px;" class="rounded-2">
                        <i class="mx-3">"Perfect for what I needed it for. And I won the contest at work!" <br><span class="text-secondary">- Divya Sanger</span><br><span class="text-secondary">18 days ago</span> </i>
                    </div>
                    <div class="d-flex p-2 ">
                        <img src="https://picsum.photos/200" style="height: 70px;width: 70px;" class="rounded-2">
                        <i class="mx-3">"Works perfectly for my needs. I actually cut them in half for most of my lid toppers. Will definitely order again" <br><span class="text-secondary">- Amit Kumar</span><br><span class="text-secondary">28 days ago</span> </i>
                    </div>
                    <div class="d-flex p-2 ">
                        <img src="https://picsum.photos/200" style="height: 70px;width: 70px;" class="rounded-2">
                        <i class="mx-3">"These are the cutest little pieces for toddlers. Just wish I had more cherries in there. And I wish the Lemon slices were in half instead of whole other than that great product easier to use nice and sturdy" <br><span class="text-secondary">- Shriya kumari</span><br><span class="text-secondary">1 month ago</span> </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
            <img src="../../../assets/images/p-pages_section/lemon-black.jpg" class="mh-100 mw-100 rounded-4" alt="">
        </div>
    </div>
</div>
<!-- Product view close -->

<app-order-conform-pop></app-order-conform-pop>