<!-- main-section Open -->
<div class="container">
    <div class="row">
      <div class="col-md-12 my-2">
        <div class="banner-img banner-1 p-3" style="height: 75vh;">
          <div class="home-detail p-center-left w-75 p-2 pt-4">
            <div class="banner-text">
              <h6>Exclusive offer <span></span></h6>
              <h1 class="text-uppercase">
                100% Natural
                &amp;<br> Dehydrated Food<br>
              <span class="daily">Natural Fusion Food</span>
              </h1>
              <p class="w-50 d-none d-sm-block">All our products are Vegan, Handmade in small batches, natural & free from preservatives, oil and added sugar! </p>
              <a class="shop-button btn-danger btn" routerLink="/our_product">Shop Now &nbsp; <i class="fa-solid fa-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 my-2">
            <div class="banner-img banner-2 p-3 h-100">
              <div class="banner-text">
                <h5 class="mt-0 fw-bold">Combo 30%OFF</h5>
                <h3 class="theme-color">Sweet Lime and Black Lamon</h3>
                <p class="w-75">Start your daily shopping with some Organic food.</p>
                <a routerLink="/combo_special1" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12 my-2">
            <div class="banner-img banner-3 p-3 h-100">
              <div class="banner-text">
                <h5 class="mt-0 fw-bold">Combo 30%OFF</h5>
                <h3 class="text-danger">Dry Orange Slice and Black Lamon </h3>
                <p class="organic">Start your daily shopping with some Organic food.</p>
                <a routerLink="/combo_special2" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="banner-img banner-4 p-3 p-2">
          <div class="banner-details">
            <div class="banner-box">
              <!-- <h6 class="text-danger">30% OFF</h6> -->
              <h5 class="text-danger">Black Natrual Dry Lemon</h5>
              <h6 class="text-content">Black lemon is very fragrant, &amp; somewhat bitter</h6>
            </div>
            <a routerLink="/black_lemon" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner-img banner-5 p-3 p-2">
          <div class="banner-details">
            <div class="banner-box">
              <!-- <h6 class="text-danger">30% OFF</h6> -->
              <h5 class="text-danger">Natrual Dried Orange Slice</h5>
              <h6 class="text-content">Dry Orange made from fresh juicy oranges.</h6>
            </div>
            <a routerLink="/dry_orange" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner-img banner-6 p-3 p-2">
          <div class="banner-details">
            <div class="banner-box">
              <!-- <h6 class="text-danger">30% OFF</h6> -->
              <h5 class="text-danger">Natrual Sweet Lime</h5>
              <h6>Sweet Lime is dried to bring you a delicious &amp; citric sweet.</h6>
            </div>
            <a routerLink="/sweet_lime" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <app-page-header>
    <h1 class="text-success2">Our Product</h1>
    <p class="pera">We have to offer to our customers is what makes us unique in the market.</p>
</app-page-header>

    <div class="row mt-3">
        <div class="col-md-12 py-3 text-center">
            <span class="text-secondary">What we Offer</span>
            <h2 class="text-success2 fw-bold">Our Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 justify-content-center">
            <app-product-shortview [productview]="productdb"></app-product-shortview>
        </div>
    </div>



  <!-- <section class="gallery-img">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 w-100  w-md-50 d-flex flex-wrap justify-content-center align-items-center ">
          <h4 class="fw-bold text-danger display-4 text-center px-4">We can make Fusion Food specially <br>for you, the way you like it.</h4>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img01.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img02.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img03.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img04.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img05.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img06.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img07.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img08.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="container">
    <div class="row py-5">
      <div class="col-md-7">
          <div class="p-4 bg-light m-auto h-100 align-items-center">
              <span>What are you waiting for?</span>
              <h3 class="py-3 text-success2 display-6 fw-bold">Fill out the form to get tasty and healthy food in your kitchen</h3>
              <p class="lh-lg">Our Dehydrated Fruits complement your dishes, or you can eat them to satisfy your petty hunger in between the meals or munch them as a time pass snack. They are healthy, stomach-filling, and kids would love them in their best snacking time.</p>
              <p class="lh-lg">We’re always looking for better ways of doing things. Dehydrated garnishes one of those small steps we can take that have a big impact over time. Every step we can take – no matter how small – to make things simpler, more efficient, more beautiful, etc., has a compound effect on our profitability and joy.</p>
              <p class="lh-lg">Whether it's winter or summer, our Dehydrated Fruits allow you to enjoy the seasonal fruits in dehydrated form all year round. We also tailor them to meet the specific needs of our customers.</p>
            </div>
      </div>
      <div class="col-md-5">
          <div class="p-4">
              <img src="../../assets/images/p-pages_section/about-us.jpg" alt="" class=" img-fluid rounded-5">
          </div>
      </div>
    </div>
  </div>
  <!-- main-section Close -->

    




 