<!-- main-section Open -->
<div class="container">
    <div class="row">
      <div class="col-md-8 my-2">
        <div class="banner-img banner-1 p-3 h-100">
          <div class="home-detail p-center-left w-75 p-2 pt-4">
            <div class="banner-text">
              <h6>Exclusive offer <span>30% Off</span></h6>
              <h1 class="text-uppercase">
              100 % Fruit &amp;<br> 0% Nonsense<br>
              <span class="daily">Natural Zing</span>
              </h1>
              <p class="w-75 d-none d-sm-block">All our products are Vegan, Handmade in small batches, natural & free from preservatives, oil and added sugar! </p>
              <a class="shop-button btn-danger btn" routerLink="our_product">Shop Now &nbsp; <i class="fa-solid fa-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 my-2">
            <div class="banner-img banner-2 p-3 h-100">
              <div class="banner-text">
                <h5 class="mt-0 fw-bold">Combo OFF</h5>
                <h3 class="theme-color">Sweet Lime and Black Lamon</h3>
                <p class="w-75">Start your daily shopping with some Organic food.</p>
                <a routerLink="combo_special1" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12 my-2">
            <div class="banner-img banner-3 p-3 h-100">
              <div class="banner-text">
                <h5 class="mt-0 fw-bold">Combo OFF</h5>
                <h3 class="text-danger">Dry Orange Slice and Black Lamon </h3>
                <p class="organic">Start your daily shopping with some Organic food.</p>
                <a routerLink="combo_special2" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="banner-img banner-4 p-3 p-2">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">5% OFF</h6>
              <h5>Black Natrual Dry Lemon</h5>
              <h6 class="text-content">Black lemon is very fragrant, &amp; somewhat bitter</h6>
            </div>
            <a routerLink="black_lemon" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner-img banner-5 p-3 p-2">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">5% OFF</h6>
              <h5>Natrual Dried Orange Slice</h5>
              <h6 class="text-content">Dry Orange made from fresh juicy oranges.</h6>
            </div>
            <a routerLink="dry_orange" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner-img banner-6 p-3 p-2">
          <div class="banner-details">
            <div class="banner-box">
              <h6 class="text-danger">5% OFF</h6>
              <h5>Natrual Sweet Lime</h5>
              <h6>Sweet Lime is dried to bring you a delicious &amp; citric sweet.</h6>
            </div>
            <a routerLink="sweet_lime" class="shop-button">Shop Now&nbsp; <i class="fa-solid fa-right-long"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="gallery-img">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 d-flex flex-wrap justify-content-center m-auto p-1 ">
          <h4 class="fw-bold text-danger display-6 px-4 text-center py-3 w-50">We can make Fusion Food specially for you, the way you like it.</h4>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img01.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img02.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img03.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img04.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img05.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img06.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img07.jpg" alt="" class="img-fluid">
          </div>
          <div class="img_box">
            <img src="../../assets/images/p-pages_section/gallery/img08.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row py-5">
      <div class="col-md-7">
          <div class="p-4 bg-light m-auto h-100 align-items-center">
              <span>Why</span>
              <h3 class="py-3 text-success2 display-6 fw-bold">Why dehydrated garnishes are Awesome for your bar !</h3>
              <p class="lh-lg">We’re always looking for better ways of doing things. Dehydrated garnishes one of those small steps we can take that have a big impact over time. Every step we can take – no matter how small – to make things simpler, more efficient, more beautiful, etc., has a compound effect on our profitability and joy.</p>
              <p class="lh-lg">Well, it’s time for this tom-foolery to stop, and for you to listen to that smarter version of yourself. Dehydrated garnishes are part of the answer, and here’s why… </p>
          </div>
      </div>
      <div class="col-md-5">
          <div class="p-4">
              <img src="../../assets/images/p-pages_section/about-us.jpg" alt="" class=" img-fluid rounded-5">
          </div>
      </div>
    </div>
  </div>
  <!-- main-section Close -->

    <!-- OFFER OPEN -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="p-4 shadow-sm mt-4 cashback text-center d-flex flex-column align-items-end justify-content-center rounded-2">
              <h1 class="fw-bold py-2 text-danger w-50" style="text-align: right;">Get 50 Cashback! Min Order of 500</h1>
              <p class="text-secondary">Save up to 10% OFF</p>
              <button class="btn btn-danger" style="border:2px dotted #ffffff"><i class="fa-solid fa-money-bill-wave"></i>&nbsp;&nbsp; FUSSION50 </button>
          </div>
        </div>
      </div>
    </div>

  <!-- testomonial open -->
  <section class="bg-light p-4 ">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="py-2 fw-bold text-success2">What Our Customer say</h3>
          <p class="w-50 m-auto">Convallis elit senectus justo dolor lorem, metus ex amet ac. Litora mattis in diam risus turpis vivamus, diam nisl lorem ligula vestibulum.</p>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-6">
          <div class=" text-white p-3 rounded-3" style="background-color: #303540;">
            <div class="d-flex align-items-center ">
              <img src="../../assets/images/vegetable/review/1.jpg" class="rounded-5" style="width: 50px; height: 50px;" alt="">
              <h5 class="fw-bold">&nbsp;&nbsp; Section produt view <br></h5>
            </div>
            <p class="p-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, saepe voluptatum! Soluta autem dicta quam at maiores eius voluptatibus adipisci voluptatem voluptates a cumque 
              neque, animi ipsa nam, doloremque pariatur?</p>
              <ul class="d-flex list-unstyled text-danger px-3">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star-half-stroke"></i></li>
              </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class=" text-white p-3 rounded-3" style="background-color: #303540;">
            <div class="d-flex align-items-center ">
              <img src="../../assets/images/vegetable/review/1.jpg" class="rounded-5" style="width: 50px; height: 50px;" alt="">
              <h5 class="fw-bold">&nbsp;&nbsp; Section produt view</h5>
            </div>
            <p class="p-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, saepe voluptatum! Soluta autem dicta quam at maiores eius voluptatibus adipisci voluptatem voluptates a cumque neque, animi ipsa nam, doloremque pariatur?</p>
            <ul class="d-flex list-unstyled text-danger px-3">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star-half-stroke"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>





 