<app-page-header>
    <h1 class="text-success2">Our Product</h1>
    <p class="pera">We have to offer to our customers is what makes us unique in the market.</p>
</app-page-header>
<!-- Product view OPEN -->
<div class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-3 text-center">
                <span class="text-secondary">What we Offer</span>
                <h2 class="text-success2 fw-bold">Our Product</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-3">
                <div class="bg-light p-3 rounded content-box object-fit-contain border">
                    <img src="../../assets/images/p-pages_section/Product/black_lemon/1_fort_img.webp" alt="" class="img-fluid"  >
                    <hr>
                    <div class="conent-info ">
                        <h4 class="fs-5 fw-bold text-secondary">Black Natural Dried Lemon</h4>
                        <div class="d-flex text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i> 
                            <span class="text-success2 fw-bold">In Stock</span>
                        </div>
                        <div class="d-flex">
                            <h5 class="fw-bold text-success2"><i class="fa-solid fa-indian-rupee-sign"></i> 120/-</h5>
                            <del class="px-2">149/-</del>
                        </div>
                        <a routerLink="/black_lemon" class="btn btn-danger btn my-2 w-100 fw-bold"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp; Add to Cart</a>
                    </div>
                    <div class="hidden-box">
                        <div class="d-flex justify-content-evenly bg-light w-50 p-2 rounded m-auto">
                            <a href=""><i class="fa fa-heart-o text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-shopping-cart text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-search-plus text-success2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="bg-light p-3 rounded content-box object-fit-contain border">
                    <img src="../../assets/images/p-pages_section/Product/dry_orange/1_font-img.webp" alt="" class="img-fluid"  >
                    <hr>
                    <div class="conent-info ">
                        <h4 class="fs-5 fw-bold text-secondary">Dried Orange Slice</h4>
                        <div class="d-flex text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i> 
                            <span class="text-success2 fw-bold">In Stock</span>
                        </div>
                        <div class="d-flex">
                            <h5 class="fw-bold text-success2"><i class="fa-solid fa-indian-rupee-sign"></i> 80/-</h5>
                            <del class="px-2">149/-</del>
                        </div>
                        <a routerLink="/dry_orange" class="btn btn-danger btn my-2 w-100 fw-bold"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp; Add to Cart</a>
                    </div>
                    <div class="hidden-box">
                        <div class="d-flex justify-content-evenly bg-light w-50 p-2 rounded m-auto">
                            <a href=""><i class="fa fa-heart-o text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-shopping-cart text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-search-plus text-success2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="bg-light p-3 rounded content-box object-fit-contain border">
                    <img src="../../assets/images/p-pages_section/Product/sweet_lime/2_frot_image.jpg" alt="" class="img-fluid"  >
                    <hr>
                    <div class="conent-info ">
                        <h4 class="fs-5 fw-bold text-secondary">Premium Sweet Lime</h4>
                        <div class="d-flex text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i> 
                            <span class="text-success2 fw-bold">In Stock</span>
                        </div>
                        <div class="d-flex">
                            <h5 class="fw-bold text-success2"><i class="fa-solid fa-indian-rupee-sign"></i> 60/-</h5>
                            <del class="px-2">99/-</del>
                        </div>
                        <a routerLink="/sweet_lime" class="btn btn-danger btn my-2 w-100 fw-bold"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp; Add to Cart</a>
                    </div>
                    <div class="hidden-box">
                        <div class="d-flex justify-content-evenly bg-light w-50 p-2 rounded m-auto">
                            <a href=""><i class="fa fa-heart-o text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-shopping-cart text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-search-plus text-success2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 py-3 text-center">
                <span class="text-secondary">What we Offer</span>
                <h2 class="text-success2 fw-bold">Stock up with Bundle Packs</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-3">
                <div class="bg-light p-3 w-100 rounded content-box object-fit-contain border">
                    <img src="https://picsum.photos/200/300.jpg" alt="" class="img-fluid"  >
                    <hr>
                    <div class="conent-info ">
                        <h4 class="fs-5 fw-bold text-secondary">Sweet Lime & Dry Orange</h4>
                        <div class="d-flex text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i> 
                            <span class="text-success2 fw-bold">In Stock</span>
                        </div>
                        <div class="d-flex">
                            <h5 class="fw-bold text-success2"><i class="fa-solid fa-indian-rupee-sign"></i> 130/-</h5>
                            <del class="px-2">170/-</del>
                        </div>
                        <a routerLink="/combo_special1" class="btn btn-danger btn my-2 w-100 fw-bold"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp; Add to Cart</a>
                    </div>
                    <div class="hidden-box">
                        <div class="d-flex justify-content-evenly bg-light w-50 p-2 rounded m-auto">
                            <a href=""><i class="fa fa-heart-o text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-shopping-cart text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-search-plus text-success2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="bg-light p-3 w-100 rounded content-box object-fit-contain border">
                    <img src="https://picsum.photos/200/300.jpg" alt="" class="img-fluid"  >
                    <hr>
                    <div class="conent-info ">
                        <h4 class="fs-5 fw-bold text-secondary">Sweet Lime & Dry Orange</h4>
                        <div class="d-flex text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i> 
                            <span class="text-success2 fw-bold">In Stock</span>
                        </div>
                        <div class="d-flex">
                            <h5 class="fw-bold text-success2"><i class="fa-solid fa-indian-rupee-sign"></i> 130/-</h5>
                            <del class="px-2">170/-</del>
                        </div>
                        <a routerLink="/combo_special2" class="btn btn-danger btn my-2 w-100 fw-bold"><i class="fa-solid fa-cart-plus"></i>&nbsp;&nbsp; Add to Cart</a>
                    </div>
                    <div class="hidden-box">
                        <div class="d-flex justify-content-evenly bg-light w-50 p-2 rounded m-auto">
                            <a href=""><i class="fa fa-heart-o text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-shopping-cart text-success2" aria-hidden="true"></i></a> |
                            <a href=""><i class="fa fa-search-plus text-success2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product view OPEN -->

<!-- Customer comment OPEN -->
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-3">
                <div class="bg-light rounded-4 p-4 shadow-sm h-100">
                    <h5 class="text-secondary">Customer Comment</h5>
                    <h3 class="fw-bold text-success2">We Care About Our Customer Experience</h3>
                    <br>
                    <p class="lh-lg text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. borum, suscipit porro fuga eligendi ratione, consequuntur sed.</p>
                    <img src="../../assets/images/p-pages_section/customer.JPG" alt="" class="img-fluid rounded-2">
                </div>
            </div>
            <div class="col-md-8 p-3 ">
                <div class="row">
                    <div class="col-12">
                        <div class="p-2 shadow-sm coming-soon text-center d-flex flex-column align-items-center justify-content-center rounded-2">
                            <span class="text-secondary">SUMMER</span>
                            <h1 class="fw-bold py-2 text-success2">VEGETABLE</h1>
                            <p class="text-secondary">Save up to 5% OFF</p>
                            <button class="btn btn-danger"><i class="fa-solid fa-meteor"></i> Comming Soon</button>
                        </div>
                        <div class="col-12">
                            <div class="p-4 shadow-sm mt-4 cashback text-center d-flex flex-column align-items-end justify-content-center rounded-2">
                                <h1 class="fw-bold py-2 text-danger w-50">Get 50 Cashback! Min Order of 500</h1>
                                <p class="text-secondary">Save up to 10% OFF</p>
                                <button class="btn btn-danger" style="border:2px dotted #ffffff"><i class="fa-solid fa-money-bill-wave"></i>&nbsp;&nbsp; FUSSION50 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Customer comment CLOSE -->
